<!-- Webpage to allow for editing an item -->

<html>

<header>
  <link rel = stylesheet type = text/css href = "{{url_for('static',
        filename = 'style.css')}}">
</header>

<body>

  <div class = header>
    <a href = '{{url_for('catalogHome')}}' class = homeButton>
      Catalog App</a>

    <a href = '{{url_for('newItem')}}' class = addNewButton>Add New Item</a>
  </div>

  <h2>Edit {{item.title}}</h2>

  <form action = "{{url_for('editItem', category_name = category_name, item_name = item.title)}}"
      method = 'POST'>

      <p>Title:</p>
      <input type = 'text' size = '30' name = 'title' placeholder="{{item.title}}">

      <p>Description:</p>
      <input type = 'text' size = '30' name = 'description' placeholder="{{item.description}}">

      <p>Category:</p>
      <select name = 'category' placeholder="{{item.category}}">
      <!--  <option selected = 'selected' disabled = 'disabled'>{{category_name}}</option>-->
        {% for c in catalog %}
          <option value = '{{c.id}}'>{{c.name}}</option>
        {% endfor %}
      </select>

      <input type = 'submit' value = 'Edit'>

    </form>

    <a href = {{url_for('itemInfo', category_name = category_name, item_name = item.title)}} class = button>Cancel</a>

</body>
</html>
