<html>

<head>
  <link rel = stylesheet type = text/css href = "{{url_for('static',
        filename = 'style.css')}}">
</head>

<body>

  <div class = header>
    <a href = '{{url_for('catalogHome')}}' class = homeButton>
      Catalog App</a>

    <a href = '{{url_for('gdisconnect')}}'>Log Out</a>
  </div>

    <a href = '{{url_for('newItem')}}' class = addNewButton>Add New Item</a>

  <div class = mainContent>
    <div class = itemsListDetail>
      <h2>{{category_name}} Items</h2>
      {% for i in categoryItems %}
      <a href = '{{url_for('itemInfo', category_name = category_name, item_name = i.title)}}'><h3>{{i.title}}<h3></a>
      {% endfor %}
    </div>

    <div class = itemDetails>
      <h2>{{item.title}}</h2>
      <p>{{item.description}}</p>
      {% if userID == item.user_id %}
        <a href = '{{url_for('editItem', category_name = category_name, item_name = item.title)}}'>Edit</a>
        <a href = '{{url_for('deleteItem', category_name = category_name, item_name = item.title)}}'>Delete</a></br>
      {% endif %}
    </div>
  </div>

</body>

</html>
