body{
  color: #ef0404;
}

h2{
  color: orange;
  text-decoration: underline;
}

h3{
  font-size: x-large;
}

a{
  text-decoration: none;
  color: #ef0404;
}

p{
  font-size: large;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  padding: 10px;
}

.homeButton{
  text-decoration: none;
  font-size: 50px;
  color: #ef0404;
}

.signInButton{
  padding: 2px;
  background-color: #ef0404;
  color: orange;
  margin: 5px;
}

.addNewButton{
  padding: 2px;
  background-color: #ef0404;
  color: orange;
  margin: 5px;
}

.buttons{
  display: flex;
}

.flash{
  text-align: center;
}

.mainContent{
  display: flex;
  flex: none;
  align-content: space-around;
  justify-content: center;
  align-items: stretch;
  background-color: #4e1111;
}

.categoryList{
  order: 1;
  flex-grow: 1;
  flex: 0 0 250px;
  text-align: center;
  background-color: #9b6262;
  margin: 50px;
}

.latestItems{
  align-content: space-around;
  flex-grow: 3;
  order: 2;
  padding: 10px;
  margin-top: 50px;
}

.itemsList{
  align-content: space-around;
  flex-grow: 3;
  order: 2;
  padding: 10px;
  margin-top: 50px;
}

.itemsListDetail{
  order: 1;
  flex-grow: 1;
  text-align: right;
  padding: 10px;
  text-align: center;
  background-color: #9b6262;
  flex: 0 0 250px;
  margin: 50px;
}

.itemDetails{
  align-content: space-around;
  flex-grow: 3;
  order: 2;
  margin-top: 50px;
  padding: 10px;
}

.button{
  padding: 2px;
  text-decoration: underline;
}
